<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> All Post </h1>
    <% if (post.length>0){ %>
        
        <% post.forEach(items => { %>
         <p><%= items %></p>
        <% }); %>

        

       
    <%} else {%>
         <h1>No post available</h1>
   <% } %>
    
</body>
</html>